@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: 'Pangolin', cursive;
}
.capitalize {
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}